.container{

}

.job-box{
    border-radius: 4px;
    padding: 20px;
    box-shadow: 0 0 2px #c4c7cc;
    display: flex;
    justify-content: space-between;
}
.section-1{
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 50px;
    padding-bottom: 50px;
    border-bottom : 1px solid #c4c7cc;
    display: flex;
    gap: 20px;
    .left{
        width:calc(70% - 10px)
    }
    .right{
        height: 300px;
        border-radius: 4px;
        padding: 20px;
        box-shadow: 0 0 2px #c4c7cc;
        width:calc(30% - 10px);
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    .job-boxes-container{
        margin-top: 25px;
        display: grid;
        gap: 10px;
        grid-template-columns: minmax(200px, 1fr) minmax(200px, 1fr);
    }
}
.section-2{
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 50px;
    padding-bottom: 50px;
    border-bottom : 1px solid #c4c7cc;
    height: 500px;
}

.text .title{
    font-weight: 900;
    font-size: 24px;
    margin-bottom: 10px;      
}
.text .subtitle{
    color: var(--color2);
    font-size: 16px;
}

/* feature separated */
.job-box{
    height: 150px;
    cursor: pointer;
    .company{
        color: var(--color2);
    }
    .title{
        font-weight: 600;
        line-height: 20px;
    }
    .location{
        font-size: 14px;
        color: var(--color2);
    }
}

.profile-box{
    .head{
        display: flex;
        align-items: center;
        gap: 20px;

        .name{
            font-weight: 900;
        }
        .email{
            font-size: 14px;
            color: var(--color2);
        }
    }
    .mid{
        margin-top: 20px;
        display: flex;
        flex-direction: column;
        gap: 10px;

        .line{
            display: flex;
            align-items: center;
            gap: 10px;
        }
    }

}

.category-container{
    margin-top: 25px;
    display: grid;
    gap: 10px;
    grid-template-columns: minmax(200px, 1fr) minmax(200px, 1fr) minmax(200px, 1fr) minmax(200px, 1fr);
}
.category{
    height: 150px;
    border-radius: 4px;
    background-color: #e6e6ff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;

    .title{
        font-weight: 600;
    }
    .subtitle{
        color: var(--color2);
        font-size: 14px;
    }
    .category-icon{
        width: 40px;
        margin-bottom: 10px;
    }
}
.category:hover .category-icon{
    transform: scale(1.4);
    filter: invert(97%) sepia(2%) saturate(7496%) hue-rotate(189deg) brightness(125%) contrast(97%);
    transition: 0.5s;
}
.category:hover .title, .category:hover .subtitle{
    color: white;
}
.category:hover{
    background-color: var(--color1);
    transition: 0.5s;
}
