<div class="container">
    <div class="section-1"><!-- find jobs near you (base on your profile) -->
        <div class="left">
            <div class="text">
                <p class="title">Explore Jobs Near You</p>
                <p class="subtitle">Recommendations are based on your profile, job preferences, and activity on
                    RecruitMe.</p>
            </div>
            <div class="job-boxes-container">
                <div class="job-box"> <!-- maybe make a separate component -->
                    <div class="inf">
                        <p class="company">Wolfjow Studios</p>
                        <p class="title">Software Engineer - Backend (All Skill Levels)</p>
                        <p class="location">Remote</p>
                    </div>
                    <img style="width: 18px; height: 18px;" src="assets/icons/love.png" alt="">
                </div>
                <div class="job-box"> <!-- maybe make a separate component -->
                    <div class="inf">
                        <p class="company">Wolfjow Studios</p>
                        <p class="title">Software Engineer - Backend (All Skill Levels)</p>
                        <p class="location">Remote</p>
                    </div>
                    <img style="width: 18px; height: 18px;" src="assets/icons/love.png" alt="">
                </div>
                <div class="job-box"> <!-- maybe make a separate component -->
                    <div class="inf">
                        <p class="company">Wolfjow Studios</p>
                        <p class="title">Software Engineer - Backend (All Skill Levels)</p>
                        <p class="location">Remote</p>
                    </div>
                    <img style="width: 18px; height: 18px;" src="assets/icons/love.png" alt="">
                </div>
            </div>
        </div>
        <div class="right">
            <div class="profile-box"> <!-- maybe make a separate component -->
                    <div class="head">
                        <img style="width: 70px;" src="assets/icons/profile2.png" alt="">
                        <div>
                            <p class="name">{{user.firstName}} {{user.lastName}}</p>
                            <p class="email">posdaresculg@gmail.com</p>
                        </div>
                    </div>
                    <div class="mid">
                        <div class="line">
                            <img style="width: 18px;" src="assets/icons/phone.png" alt="">
                            <p>0772091928</p>
                        </div>
                        <div class="line">
                            <img style="width: 18px;" src="assets/icons/location.png" alt="">
                            <p>Timisoara</p>
                        </div>
                        <div class="line">
                            <img style="width: 18px;" src="assets/icons/job.png" alt="">
                            <p>Software Engineer</p>
                        </div>
                    </div>
                    <div class="end"></div>
            </div>
        </div>
    </div>
    <div class="section-2"><!-- choose a category (of IT jobs) -->
        <div class="text">
            <p class="title">Categories</p>
            <p class="subtitle">Recommendations are based on your profile, job preferences, and activity on
                RecruitMe.</p>
        </div>
        <div class="category-container">
            <div class="category">
                <img class="category-icon" src="assets/icons/shield.png" alt="">
                <div class="title">Security</div>
                <div class="subtitle">Lorem ipsum dolor sit</div>
            </div>

            <div class="category">
                <img class="category-icon" src="assets/icons/bug.png" alt="">
                <div class="title">Testing</div>
                <div class="subtitle">Lorem ipsum dolor sit</div>
            </div>

            <div class="category">
                <img class="category-icon" src="assets/icons/coding.png" alt="">
                <div class="title">Web Development</div>
                <div class="subtitle">Lorem ipsum dolor sit</div>
            </div>

            <div class="category">
                <img class="category-icon" src="assets/icons/shield.png" alt="">
                <div class="title">Testing</div>
                <div class="subtitle">Lorem ipsum dolor sit</div>
            </div>

            <div class="category">
                <img class="category-icon" src="assets/icons/shield.png" alt="">
                <div class="title">Web Development</div>
                <div class="subtitle">Lorem ipsum dolor sit</div>
            </div>

            <div class="category">
                <img class="category-icon" src="assets/icons/shield.png" alt="">
                <div class="title">Web Development</div>
                <div class="subtitle">Lorem ipsum dolor sit</div>
            </div>
        </div>
    </div>
</div>