<div class="container">
    <div class="section-1"><!-- find jobs near you (base on your profile) -->
        <div class="left">
            <div class="text">
                <p class="title">Explore Jobs Near You</p>
                <p class="subtitle">Recommendations are based on your profile, job preferences, and activity on
                    RecruitMe.</p>
            </div>
            <div class="job-boxes-container">
                <app-job-box *ngFor="let j of jobs" [job]="j"></app-job-box>
            </div>
        </div>
        <div class="right">
            <app-profile-box [user]="user"></app-profile-box>
        </div>
    </div>
    <div class="section-2"><!-- choose a category (of IT jobs) -->
        <div class="text">
            <p class="title">Categories</p>
            <p class="subtitle">Recommendations are based on your profile, job preferences, and activity on
                RecruitMe.</p>
        </div>
        <div class="category-container">
            <div class="category">
                <img class="category-icon" src="assets/icons/shield.png" alt="">
                <div class="title">Security</div>
                <div class="subtitle">Lorem ipsum dolor sit</div>
            </div>

            <div class="category">
                <img class="category-icon" src="assets/icons/bug.png" alt="">
                <div class="title">Testing</div>
                <div class="subtitle">Lorem ipsum dolor sit</div>
            </div>

            <div class="category">
                <img class="category-icon" src="assets/icons/coding.png" alt="">
                <div class="title">Web Development</div>
                <div class="subtitle">Lorem ipsum dolor sit</div>
            </div>

            <div class="category">
                <img class="category-icon" src="assets/icons/shield.png" alt="">
                <div class="title">Testing</div>
                <div class="subtitle">Lorem ipsum dolor sit</div>
            </div>

            <div class="category">
                <img class="category-icon" src="assets/icons/shield.png" alt="">
                <div class="title">Web Development</div>
                <div class="subtitle">Lorem ipsum dolor sit</div>
            </div>

            <div class="category">
                <img class="category-icon" src="assets/icons/shield.png" alt="">
                <div class="title">Web Development</div>
                <div class="subtitle">Lorem ipsum dolor sit</div>
            </div>
        </div>
    </div>
</div>