<div class="profile-box"> <!-- maybe make a separate component -->
    <div class="head">
        <img style="width: 70px;" src="assets/icons/profile2.png" alt="">
        <div>
            <p class="name">{{user.firstName}} {{user.lastName}}</p>
            <p class="email">{{user.email}}</p>
        </div>
    </div>
    <div class="mid">
        <div class="line">
            <img style="width: 18px;" src="assets/icons/phone.png" alt="">
            <p>0772091998</p>
        </div>
        <div class="line">
            <img style="width: 18px;" src="assets/icons/location.png" alt="">
            <p>Timisoara</p>
        </div>
        <div class="line">
            <img style="width: 18px;" src="assets/icons/job.png" alt="">
            <p>Software Engineer</p>
        </div>
    </div>
    <div class="end"></div>
</div>
