<div class="profile-box"> <!-- maybe make a separate component -->
    <div class="head">
        <img style="width: 70px;" src="assets/icons/profile2.png" alt="">
        <div>
            <p class="name">{{user.firstName}} {{user.lastName}}</p>
            <p class="email">{{user.email}}</p>
        </div>
    </div>
    <div class="mid">
        <div class="line">
            <img style="width: 18px;" src="assets/icons/phone.png" alt="">
            <p *ngIf="user.phone;else other_content">{{user.phone}}</p>
            <ng-template #other_content><p class="link" routerLink="/account">Add phone</p></ng-template>
        </div>
        <div class="line">
            <img style="width: 18px;" src="assets/icons/location.png" alt="">
            <p *ngIf="user.location;else other_content2">{{user.location}}</p>
            <ng-template #other_content2><p class="link" routerLink="/account">Add location</p></ng-template>
        </div>
        <div class="line">
            <img style="width: 18px;" src="assets/icons/job.png" alt="">
            <p *ngIf="user.ocupation;else other_content3">{{user.ocupation}}</p>
            <ng-template #other_content3><p class="link" routerLink="/account">Add occupation</p></ng-template>
        </div>
    </div>
    <div class="end"></div>
</div>
