.container{
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 50px;
    padding-bottom: 50px;
}

.content{
    margin-top: 40px;
    display: flex;
    gap : 50px;
    align-items: center;
}

.personal-info{
}

input[type=text]{
    border-radius: 4px;
    height: 30px;
    width: 300px;
}
select {
    border-radius: 4px;
    height: 30px;
    width: 300px;   
}

.cv-box{
    display: flex;
    box-sizing: border-box;
    padding: 10px;
    background-color: white;
    border-radius: 4px;
    font-size: 12px;
    cursor: pointer;
    box-shadow: 0 0 2px #c4c7cc;
    align-items: center;
    gap: 5px;
}
.fileimg{
    width: 20px;
    height: 100%;
    background-color: green;
}
.field-name{
    margin-top: 15px;
    margin-bottom: 5px;
}
#first{
    margin-top: 0px; 
}