<div class="container">
    <h2>My Account</h2>
    <div class="content">
        <div class="field">
            <p class="field-name">Full Name</p>
            <input type="text" class="field-input">
        </div>
        <div class="field">
            <p class="field-name">Location</p>
            <input type="text" class="field-input">
        </div>
        <div class="field">
            <p class="field-name">Phone Number</p>
            <input type="text" class="field-input">
        </div>

        <div class="field">
            <p class="field-name">Occupation</p>
            <input type="text" class="field-input">
        </div>
    </div>
</div>
