<div class="container account-applicant">
    <h2 style="font-weight: 900;">My Account</h2>
    <div class="content">
        <div class="personal-info">
            <div class="field">
                <p class="field-name" id="first">First Name</p>
                <input type="text" class="field-input" [(ngModel)]="usercopy.firstName">
            </div>
            <div class="field">
                <p class="field-name">Last Name</p>
                <input type="text" class="field-input" [(ngModel)]="usercopy.lastName">
            </div>
            <div class="field">
                <p class="field-name">Location</p>
                <select class="field-input" name="location" [(ngModel)]="usercopy.location">
                    <option [value]="option.city" *ngFor="let option of myCities">{{option.city}}</option>
                </select>
            </div>
            <div class="field">
                <p class="field-name">Phone Number</p>
                <input type="text" class="field-input" [(ngModel)]="usercopy.phone">
            </div>

            <div class="field">
                <p class="field-name">Occupation</p>
                <input type="text" class="field-input" [(ngModel)]="usercopy.ocupation">
            </div>
            <button class="btn" style="margin-top: 15px;" (click)="saveAccountInfo()">Save</button>
            <button class="btn" style="background-color: red; margin-left: 5px;" (click)="disconect()">Disconnect</button>
        </div>
        <div class="cv-container">
            <p *ngIf="!cvName">Upload Curriculum Vitae (CV)</p>
            <p *ngIf="cvName">Curriculum Vitae (CV)</p>

            <div class="cv-upload" style="margin-top: 10px;" *ngIf="!cvName">
                <input type="file" (change)="onSelectFile($event)">
                <button (click)="onUploadFile()">Upload</button>
            </div>
            <div class="cv-box-cover" style="display: flex; align-items: center;gap: 10px;">
                <div class="cv-box" style="margin-top:20px" *ngIf="cvName" (click)="onDownloadFile()">
                    <div class="filename">{{cvName}}</div>
                    <img src="assets/icons/pdf.png" style="width: 20px;" alt="">
                </div>
                <img src="assets/icons/delete2.png" style="width:20px; height: 20px; margin-top: 20px; cursor: pointer;" alt="" (click)="deleteCV()" *ngIf="cvName">
            </div>
        </div>
    </div>
</div>