<div class="container">
    <div class="content">
        <div class="top">
            <select class="field-input" name="location" >
                <option>All</option>
                <option>Full Time</option>
                <option>Part Time</option>
              </select>
              <select class="field-input" name="location" >
                <option>All</option>
                <option>Full Time</option>
                <option>Part Time</option>
              </select>
              <select class="field-input" name="location" >
                <option>All</option>
                <option>Full Time</option>
                <option>Part Time</option>
              </select>
        </div>
        <div class="bottom">
            <div class="left"></div>
            <div class="right"></div>
        </div>
    </div>
</div>