/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&family=Roboto:ital,wght@0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700&display=swap');

:root {
    --color1: #6320ee;
    --color2: #505863;
}
 
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}
textarea, input{
    padding-left: 20px;
    padding-right: 20px;
    color: var(--color2);
    font-size: 14px;
    border: 1px solid #dee0e3;
}

.btn{
    border: none;
    background-color: #6320ee;
    padding: 10px 30px;
    border-radius: 4px;
    color: white;
    cursor: pointer;
}   
